---
import BeerTabContent from "@/components/beer-tab-content.astro";
import MenuTab from "@/components/menu-tab.astro";
import beerItems from "@/data/beer-items.json";
import Layout from "@/layouts/layout.astro";
import beerMenuHeader from "@/images/gallery-images/friends-cheers.jpg";
import { getImage } from "astro:assets";

const headerImage = await getImage({
  src: beerMenuHeader,
  format: "avif",
  quality: 70,
});
---

<Layout title="Beer Menu">
  <section
    id="beer-menu-hero"
    class="relative flex min-h-[80vh] items-center justify-center bg-cover bg-bottom bg-no-repeat bg-origin-content"
    style={`background-image: url(${headerImage.src});`}
  >
    <div
      class="pointer-events-none absolute inset-0 bg-linear-to-b from-black/75 via-black/10 to-transparent"
    >
    </div>
    <div class="flex flex-col items-center gap-2">
      <h2
        class="font-display text-base-100 bg-primary relative z-10 p-2 px-4 text-4xl font-bold tracking-wide uppercase"
      >
        Beer Menu
      </h2>
    </div>
  </section>

  <section id="beer-menu" class="bg-base-200">
    <div class="container mx-auto px-4 pt-28 pb-12 xl:max-w-6xl">
      <h2
        class="text-base-content mb-6 text-xl font-semibold uppercase md:text-3xl"
      >
        Beer Menu
      </h2>
      <div class="menu-tabs">
        <div class="tabs tabs-box flex-nowrap overflow-x-auto">
          {
            beerItems.map((beerItem) => (
              <MenuTab
                tabId={beerItem.category}
                checkedTab="hoppy"
                label={beerItem.label}
              />
            ))
          }
        </div>
        <div class="flex flex-col items-start justify-between gap-4">
          {
            beerItems.map((beerItem) => (
              <BeerTabContent
                tabId={beerItem.category}
                items={beerItem.items}
              />
            ))
          }
        </div>
      </div>
    </div>
  </section>
</Layout>
