---
import FoodAddOnsPricing from "@/components/food-addons-pricing.astro";
import FoodAddOns from "@/components/food-addons.astro";
import FoodTabContent from "@/components/food-tab-content.astro";
import Legend from "@/components/legend.astro";
import MenuTab from "@/components/menu-tab.astro";
import SidebarPanel from "@/components/sidebar-panel.astro";
import TopbarPanel from "@/components/topbar-panel.astro";
import foodItems from "@/data/food-items.json";
import sauces from "@/data/sauces.json";
import toppings from "@/data/toppings.json";
import foodMenuHeader from "@/images/food-menu/food-menu-header.jpg";
import Layout from "@/layouts/layout.astro";
import { getImage } from "astro:assets";

const headerImage = await getImage({
  src: foodMenuHeader,
  format: "avif",
  quality: 70,
});
---

<Layout title="Food Menu">
  <section
    id="food-menu-hero"
    class="relative flex min-h-[80vh] items-center justify-center bg-cover bg-center bg-no-repeat bg-origin-content"
    style={`background-image: url(${headerImage.src});`}
  >
    <div
      class="pointer-events-none absolute inset-0 bg-linear-to-b from-black/75 via-black/10 to-transparent"
    >
    </div>
    <div class="flex flex-col items-center gap-2">
      <h2
        class="font-display text-base-100 bg-primary relative z-10 p-2 px-4 text-4xl font-bold tracking-wide uppercase"
      >
        Food Menu
      </h2>
    </div>
  </section>
  <section id="food-menu" class="bg-base-200 min-h-[80vh]">
    <div class="container mx-auto px-4 pt-28 pb-12 xl:max-w-6xl">
      <h2
        class="text-base-content mb-6 text-xl font-semibold uppercase md:text-3xl"
      >
        Food Menu
      </h2>
      <div class="menu-tabs">
        <div class="tabs tabs-box flex-nowrap overflow-x-auto">
          {
            foodItems.map((foodItem) => (
              <MenuTab
                tabId={foodItem.category}
                checkedTab="links"
                label={foodItem.label}
              />
            ))
          }
        </div>
        <TopbarPanel tabIds={["links", "burgers"]}>
          <FoodAddOnsPricing
            itemLabel="topping"
            categoryLabel="Links and burgers"
            data={toppings}
          />
        </TopbarPanel>
        <TopbarPanel tabIds={["sides"]}>
          <FoodAddOnsPricing
            itemLabel="sauce"
            categoryLabel="Sides"
            data={sauces}
          />
        </TopbarPanel>
        <div
          class="flex flex-col items-start justify-between gap-4 md:flex-row"
        >
          {
            foodItems.map((foodItem) => (
              <FoodTabContent
                tabId={foodItem.category}
                items={foodItem.items}
              />
            ))
          }
          <aside class="w-full md:mt-4 md:flex-1">
            <Legend />
            <SidebarPanel tabIds={["links", "burgers"]}>
              <FoodAddOns title="Toppings" data={toppings} />
            </SidebarPanel>
            <SidebarPanel tabIds={["sides"]}>
              <FoodAddOns title="Sauces" data={sauces} />
            </SidebarPanel>
          </aside>
        </div>
      </div>
    </div>
  </section>
</Layout>
