---
import Craft from "@/icons/craft.astro";
import Domestic from "@/icons/domestic.astro";
import Import from "@/icons/import.astro";
import BeerFilterPanel from "./beer-filter-panel.astro";

interface BeerItem {
  id: string;
  title: string;
  description: string;
  price: number;
  origin: string;
  abv: string;
  pourSize: string;
}

interface Props {
  tabId: string;
  items: BeerItem[];
}

const { tabId, items } = Astro.props;
---

<div
  class="tab-panel mt-4 hidden max-w-[calc(100vw-32px)]"
  data-tab-panel={tabId}
>
  <div class="bg-base-100 rounded-lg p-6 shadow">
    <BeerFilterPanel tabId={tabId} />
    <table class="table">
      <tbody>
        {
          items.map((item) => (
            <tr data-beer-item data-origin={item.origin}>
              <td>
                <div class="flex">
                  {item.origin === "craft" && <Craft classes={["mr-1"]} />}
                  {item.origin === "domestic" && (
                    <Domestic classes={["mr-1"]} />
                  )}
                  {item.origin === "import" && <Import classes={["mr-1"]} />}
                  <p class="font-semibold">{item.title} </p>
                </div>
                <p>{item.description}</p>
                <p>
                  <small class="text-xs">{`${item.abv} ABV | ${item.pourSize} pour`}</small>
                </p>
              </td>
              <td class="text-right align-top md:align-middle">
                ${item.price.toFixed(2)}
              </td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </div>

  <style
    set:html={`
.menu-tabs:has(#${tabId}:checked) [data-tab-panel="${tabId}"] {
  display: block;
}`}
  ></style>
</div>
