---
import { Picture } from "astro:assets";
const { image, event, i } = Astro.props;
const isReversed = i % 2 === 0;
---

<div
  class="bg-base-300 mb-6 grid grid-cols-1 items-center last:mb-0 md:grid-cols-2"
>
  <div class={`p-4 ${isReversed ? "md:order-2" : ""}`}>
    <h3 class="text-lg font-semibold md:text-2xl">
      <span class="me-2 text-3xl">{event.icon}</span>
      {event.title}
    </h3>
    <p class="mt-2 max-w-[60ch]">{event.description}</p>
  </div>
  <div class={isReversed ? "md:order-1" : ""}>
    <Picture
      src={image}
      alt={event.title}
      formats={["avif", "webp"]}
      fallbackFormat="jpg"
      sizes="(max-width: 767px) 100vw, (max-width: 1023px) 356px, (max-width: 1279px) 484px, (max-width: 1535px) 548px, 740px"
      widths={[356, 484, 548, 740]}
      class="h-full w-full object-cover"
    />
  </div>
</div>
